{%extends 'base.html' %}

{% block additional_head %}
<script>
var CONTACT_API = "{% url api_dispatch_list api_name="v1" resource_name="contact" %}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
<script>
$(document).ready(function(){
        console.log('starting up backbone');
        window.app = window.app || {};
        app.contacts = new Contacts();
        app.list = new ListApp({
            el:$('#app'),
            collection:app.contacts
        });
        app.contacts.maybeFetch({
            success: _.bind(app.list.render, app.list)
        });
    });
</script>

<script type="text/template" id="contact-template">
    <td><a href="#"><%= name %></a></td><td><%= email %></td><td><span class="delete">x</span></td>
</script>

<script type="text/template" id="listApp-template">
<div id="input">
  <strong>Create Contact</strong>
  <label>Name</label>
  <input type="text" id="name_input">
  <input type="hidden" id="userid_input" val="{{ userid }}">
  <label>Email</label>
  <input type="text" id="email_input"></input>
  <button class="createcontact">New Contact</button>
</div>
<h2>Contacts</h2>
<table id="contacts">
<tr>
    <th>Name</th><th>Email</th><th>Delete</th>
</tr>
</table>

</script>
{% endblock %}


{% block content %}
<h2>Backbone JS Test View</h2>
<div id="app">
</div>
{%endblock %}