{%extends 'base.html' %}

{% block additional_head %}
<script>
var CONTACT_API = "{% url api_dispatch_list api_name="v1" resource_name="contact" %}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
<script>
$(document).ready(function(){
        console.log('starting up backbone');
        window.app = window.app || {};
        app.contacts = new Contacts();
        app.list = new ListView({
            el:$('#contacts'),
            collection:app.contacts
        });
        app.contacts.maybeFetch({
            success: _.bind(app.list.render, app.list)
        });
    });
</script>

<script type="text/template" id="contact-template">
    <span><%= name %></span> - <span><%= email %></span>
</script>
{% endblock %}


{% block content %}
<h2>Backbone JS Test View</h2>
<div id="app">
    <ul id="contacts">
    </ul>
</div>
{%endblock %}